@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;800&display=swap");
* {
  font-family: "poppins", sans-serif;
}
body {
  background-color: #b01030;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
}
.box {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* .container {
  width: 350px;
  display: flex;
  flex-direction: column;
  padding: 0 15px 0 15px;
  color: white;
} */

a {
  text-decoration: none;
  color: #ffffffcb;
  font-size: small;
  display: flex;
  justify-content: center;
  padding: 10px 0 10px 0;
}
header {
  color: #fff;
  font-size: 30px;
  display: flex;
  justify-content: center;
  padding: 10px 0 10px 0;
}

.input::placeholder {
  color: #ffffff7e;
}

.input-field {
  margin-top: 15px;
}

.input-field .input {
  height: 45px;
  width: 90%;
  border: none;
  border-radius: 30px;
  color: #fff;
  font-size: 15px;
  padding: 0 0 0 30px;
  background: rgba(255, 255, 255, 0.1);
  outline: none;
}

.input-field-option {
  margin-top: 15px;
  height: 30px;
  width: 90%;
  border: none;
  border-radius: 30px;
  color: #ffffff7e;
  font-size: 15px;
  padding: 15px 0 5px 30px;
  background: rgba(255, 255, 255, 0.1);
  outline: none;
}

.input-field-option select {
  padding: 3px;
  background: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 5px;
}

.input-field-option select {
  /* color: white; */
  padding: 3px;
  background: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 5px;
  outline: none;
}

.input-field-option .select-selected {
  color: dodgerblue;
}

.input[type="date"] {
  /* color: #fff; */
  background: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 5px;
  outline: none;
  padding: 3px;
}

.submit {
  border: none;
  border-radius: 30px;
  font-size: 14px;
  height: 45px;
  outline: none;
  width: 100%;
  color: black;
  background: #ffbb07;
  cursor: pointer;
  transition: 0.3s;
}
.submit:hover {
  box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.2);
}
